/**
 * Typography
 */

$global-font-size: 16px;
$global-line-height: 1.4;
$global-font-family: Fabrik, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;

// Use this syntax for including web fonts cross browser

@font-face {
	font-family: "Fabrik";
	src: url('../fonts/Fabrik-Regular.eot');
	src: url('../fonts/Fabrik-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Fabrik-Regular.woff2') format('woff2'),
		 url('../fonts/Fabrik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Fabrik";
	src: url('../fonts/Fabrik-Bold.eot');
	src: url('../fonts/Fabrik-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Fabrik-Bold.woff2') format('woff2'),
		 url('../fonts/Fabrik-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@mixin type-global {
	font-size: $global-font-size;
	line-height: $global-line-height;
	font-family: $global-font-family;
}

@mixin type-1 {
	font-size: rem(32);
}

@mixin type-2 {
	font-size: rem(24);
}

@mixin type-3 {
	font-size: rem($global-font-size);
	font-weight: 600;
}

@mixin type-4 {
	font-size: rem(14);
	font-weight: 600;
}
