.Mosaic {
	// @include clearfix;
	display: flex;
	flex-flow: column;
}

.Mosaic-row {
	display: flex;
	flex-flow: row wrap;
}

.Mosaic-cell {
	flex-basis: 20%;
	min-height: 10vh;
	padding: 0.5rem;
	// outline: 1px solid;
	// @include span(1 of 5);
	// &:nth-child(5n+1) {
	// 	@include last;
	// }
}

.Mosaic-cell--full {
	flex-basis: 100%;
}

// // If all cells in a grid have the same width you can use this one instead.
// .Grid--gallery .Grid-cell {
// 	@media (min-width: bp(s)) {
// 		@include gallery(1 of 5);
// 	}
// }
