.u-overlay {
	position: fixed;
	z-index: 2;
}

.u-stretch {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.YoutubePlayer {
	// Don't let people interact with the video
	// because it's a TV. Not a video.
	pointer-events: none;
}

.YoutubePlayer-loader {
	z-index: 2;
}

.YoutubePlayer-loader.is-hidden {
	display: none;
}

.SoundCloudPlayer {
	// do not use display none as it breaks the iframe javascript
	visibility: hidden;
	position: absolute;
	z-index: 1;
	max-width: 200px;
}

.NewsTicker {
	line-height: 1;
	bottom: -0.7rem;
	width: 100%;
	font-size: 3rem;

	ol {
		list-style: none;
	}

	li {
		display: inline;
	}

	a {
		color: $yellow;
	}
}

.Notify,
.Alert {
	left: 1rem;
	right: 1rem;
	bottom: 4rem;
	font-size: 3rem;
	color: #3bff00; // green
}

.Notify {
	display: none;
	top: 20%;
	right: 2rem;
	bottom: initial;
	text-align: right;

	img {
		height: auto;
	}
}

.Alert {
	text-align: center;
}

