/**
 * Logo
 */

.Logo {
	top: 0rem;
	right: 1rem;
	font-size: 3rem;
	font-weight: normal;
	line-height: 1;
	text-align: right;
	color: $yellow;

	small {
		font-size: 60%;
	}

	strong {
		display: block;
	}
}
