<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{model.title}} - Wayne Snow</title>
	<!-- <meta name="description" content=""> -->
	<link rel="stylesheet" href="styles/index.css">
<body>

	<div class="App">
		<main class="App-main">
			{{#block "main"}}{{/block}}
		</main>
	</div>

	<script src="https://w.soundcloud.com/player/api.js" async></script>
	<script src="scripts/bundle.js" async></script>

</body>
</html>

