<div class="Mosaic">
	<div class="Mosaic-row">
		<div class="Mosaic-cell Mosaic-cell--full">
			Pre-order <strong>Wayne Snow - Freedom TV</strong>
		</div>
	</div>
	<div class="Mosaic-row">
		<div class="Mosaic-cell Mosaic-cell--full">
		</div>
		<div class="Mosaic-cell">
			Cooler
		</div>
		<div class="Mosaic-cell">
			Still In The Shell
		</div>
		<div class="Mosaic-cell">
			Drunk
		</div>
		<div class="Mosaic-cell">
			Red Runner
		</div>
		<div class="Mosaic-cell">
			The Rhythm
		</div>
		<div class="Mosaic-cell">
			Rosie
		</div>
		<div class="Mosaic-cell">
			FALL
		</div>
		<div class="Mosaic-cell">
			Nothing Wrong
		</div>
		<div class="Mosaic-cell">
			R.I.P
		</div>
		<div class="Mosaic-cell">
			Nothing but the Best
		</div>
	</div>
	<div class="Mosaic-row">
		<div class="Mosaic-cell Mosaic-cell--double">
			<a href="http://tartelet-records.com">Tartelet Records</a>
			Contact/Press
			Newsletter
			Social
		</div>
		<div class="Mosaic-cell">
		</div>
	</div>
</div>

