<ol>
	<li>Just announced..........................................WAYNE SNOW to release his debut album "Freedom TV" in March 2017.......................................featuring productions by...................MAX GRAEF........NU GUINEA.......NEUE GRAFIK...... &copy; 2017 TARTELET RECORDS...........................................Cooler......Still in the Shell.......Drunk???......Red Runner......The Rhythm......Rosie......FALL......Nothing Wrong....... \o.O/.....Freedom R.I.P......Nothing but the Best.............................................................Call the hotline now 1-800-FREEDOMTV...................................</li>
</ol>
