<ol>
	<li>BREAKING NEWS.............Wayne Snow to release his debut album "Freedom TV" in March 2017.......featuring productions from.......MAX GRAEF....NU GUINEA....NEUE GRAFIK...... &copy; Tartelet Records 2017.....</li>
	<li>Cooler...Still in the Shell...Drunk.....Red Runner...The Rhythm.....Rosie....FALL...Nothing Wrong....Freedom R.I.P....Nothing but the Best</li>
	<!-- <li>Still in the Shell</li> -->
	<!-- <li>Still In The Shell...</li> -->
	<!-- <li>Drunk....</li> -->
	<!-- <li>Red Runner.....</li> -->
	<!-- <li>The Rhythm...</li> -->
	<!-- <li>Rosie...</li> -->
	<!-- <li>FALL...</li> -->
	<!-- <li>Nothing Wrong....</li> -->
	<!-- <li>Freedom R.I.P....</li> -->
	<!-- <li>Nothing but the Best....</li> -->
	<li>....................................Call the hotline now 1-800-FREEDOMTV..... MERRY CHRISTMAS...... don't forget to call grandma.................................................... Hello?......................................Anyone there?..........Hello?...........Is this thing on?........ Dammit..............I hate technology... and my job...........my boss is an asshole.............and my girlfriend left me..............I'm lonely..........................Please don't go......... Stay for a while............. Don't go. Please.................. What's your name?................Are you seeing anyone?...............we could go for a drink...see what happens.................i'm great with kids............</li>
</ol>
