/**
 * Typography
 */

$global-font-size: 16px;
$global-line-height: 1.4;
// $sans-serif: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
$global-font-family: "vcr_osd_monoregular", monospace;

@font-face {
	font-family: "vcr_osd_monoregular";
	src:
		url("../fonts/vcr_osd_mono_1.001-webfont.woff2") format("woff2"),
		url("../fonts/vcr_osd_mono_1.001-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@mixin type-global {
	font-size: $global-font-size;
	line-height: $global-line-height;
	font-family: $global-font-family;
}

@mixin type-1 {
	font-size: 2rem;
}

@mixin type-2 {
	font-size: 1.5rem;
}

@mixin type-3 {
	font-size: 1rem;
	font-weight: 600;
}

@mixin type-4 {
	font-size: 0.875rem;
	font-weight: 600;
}
